<nav class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between p-4">
    <p class="flex items-center space-x-3 rtl:space-x-reverse">
      <i class="fas fa-solid fa-compact-disc text-slate-100 text-2xl"></i>
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
      >
        Web de venta de discos
        <img src="/favicon.ico" class="inline h-6 w-6" alt="Favicon" />
      </span>
    </p>
  </div>
</nav>
